extends layout

block content
  h3(class='titles')= subreddit
  p Collage for /r/#{subreddit} - ( #{from} - #{sort} )

  div(class='loading-overlay')
    h2 Generating collage for /r/#{subreddit}
    h3 Please wait...
    div(class='spinner')
      

  div(class='Collage')
    if locals.images.length > 0  
      each link in images
        a(href= link.comments)
          img(src= link.image)
    else 
      h1 Sorry - couldn't find any images there.
      h2 Are you sure you got the subreddit right? 

  foot
    script.
      $(window).load(function(){ $('.loading-overlay').hide(2000); $('.Collage').collagePlus({ 'effect' : 'effect-1'}); })