extends layout

block content
  h3(class='titles')= subreddit
  p Collage for /r/#{subreddit} - ( #{from} - #{sort} )

  div(class='loading-overlay')
    p Generating collage for /r/#{subreddit}
    p Please wait...
    div(class='spinner')
      

  div(class='Collage')
    if locals.images  
      each link in images
        img(src= link)
    else 
      h1 Sorry - couldn't find any images there.

  foot
      script.
        $(window).load(function(){ $('.loading-overlay').hide(3000); $('.Collage').collagePlus({ 'effect' : 'effect-1'}); })
  